body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.card {
	background-color: #fff;
	width: 100px;
	height: 150px;
	border: solid #000 2px;
	float: left;
	border-radius: 15px;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	padding: 5px;
}

.card-pic {
	width: 86px;
	height: 136px;
}

.lineWrapper {
	clear: both;
	width: auto;
}

.card-table {
	position: relative;
	width: 520px;
	height: 552px;
	top: 0;
	margin: auto;
 }

.selected {
	border-color: #9494ff;
	box-shadow: 0px 0px 10px 3px #9494ff;
}

.score {
	position: absolute;
	left: 0;
	top: 0;
	margin: 10px;
	width: 200px;
	height: auto;
	padding: 20px;
	background-color: #53cfa6;
	border-radius: 8px;
	text-align: center;
	color: #fff;
}

.notification {
	position: absolute;
	width: 200px;
	height: auto;
	padding: 20px;
	top: 0;
	right: 0;
	margin: 20px;
	text-align: center;
	background-color: #9494ff;
	border-radius: 8px;
	opacity: 0;
	transition: opacity linear 0.5s;
	color: #fff;
}

.alert {
	color: red;
	position: absolute;
	top: 600px;
	width: 500px;
	left: 50%;
	margin-left: -250px;
	display: none;
}

#duplicates {
	display: none;
}

#no-set {
	display: none;
}

.set-check-btn {
	margin-right: 10px;
}

.set-check-container {
	vertical-align: center;
	position: absolute;
	left: 50%;
	top: 555px;
	margin-left: -150px;
	width: 300px;
	padding: 10px;
	background: rgba(148,148,255,0.8);
	border-radius: 5px;
}

.column-changer {
	position: absolute;
	right: 0;
	top: 0;
	margin: 10px;
}

.instructions {
	position: absolute;
	text-align: left;
	width: 240px;
	margin-top: 5px;
}

/** Flip Cards **/

.flip-container {
	perspective: 1000;
	-webkit-perspective: 1000;
	margin: 15px;
	float: left;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
		-webkit-transform: rotateY(180deg);
	}

.front, .back, .flip-container{
	width: 100px;
	height: 150px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	-webkit-transition: 0.6s;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}
